[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_path }}consul-template.hcl

[Service]
ExecStart={{ consul_bin_path }}consul-template -config={{ consul_config_path }}consul-template.hcl
ExecReload=/usr/bin/kill -s SIGHUP $MAINPID
ExecStop=/usr/bin/kill -s SIGINT $MAINPID
PIDFile={{ consul_config_path }}consul_template.pid
Restart=on-failure
SuccessExitStatus=12 SIGINT

[Install]
WantedBy=multi-user.target