[databases]
{% raw -%}{{with $service := "dc1" }}{{with $leader := keyOrDefault (printf "service/%s/leader" $service) "NONE"}}{{if ne $leader "NONE"}}{{with $data := key (printf "service/%s/members/%s" $service $leader) | parseJSON}}{{with $host_port := (index (index ($data.conn_url | split "://") 1 | split "/") 0) | split ":"}}* = host={{index $host_port 0}} port={{index $host_port 1}}{{end}}{{end}}{{end}}{{end}}{{end}}{%- endraw %}

[pgbouncer]
logfile            = /etc/pgbouncer/pgbouncer.log
pidfile            = /etc/pgbouncer/pgbouncer.pid
unix_socket_dir    = /tmp
listen_addr        = *
listen_port        = 5432
auth_type          = md5
auth_file          = /etc/pgbouncer/userlist.txt
max_client_conn    = 200
admin_users        = postgres
pool_mode          = session
default_pool_size  = 80
server_reset_query = DISCARD ALL
ignore_startup_parameters = extra_float_digits