{
    "server": false,
    "advertise_addr": "{{ ansible_eth2.ipv4.address }}",
    "bind_addr": "{{ ansible_eth2.ipv4.address }}",
    "datacenter": "DC1",
    "data_dir": "{{ consul_data_path }}",
    "encrypt": "zS0eLkIsQkx3vFfmktA8KeIk/pTcVqeYpBOe1IS0g8c=",
    "log_level": "INFO",
    "enable_syslog": true,
    "leave_on_terminate": true,
    "start_join": [
        "iscsi",
        "pg_0",
        "pg_1"
    ]
}
